.header {
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
  border-top-left-radius: 120px;
  background: linear-gradient(90deg, white 25%, rgba(255, 255, 255, 0) 35%);

  @media (max-width: 1200px) {
    width: 98%;
  }

  @media (max-width: 888px) {
    padding-top: 60px;
    width: 435px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 35%);
    background-color: white;
  }

  @media (max-width: 470px) {
    width: 350px;
  }
}
