.footer {
  display: flex;
  justify-content: space-around;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.47);

  @media (max-width: 1200px) {
    & {
      width: 98%;
    }
  }

  @media (max-width: 888px) {
    & {
      padding-top: 60px;
      width: 435px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width: 470px) {
    & {
      width: 350px;
    }
  }
}

.footer-date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: rgb(112, 109, 109);

  @media (max-width: 888px) {
    & {
      margin-bottom: 20px;
      font-size: 20px;
    }
  }
}

.fa-github-square,
.fa-linkedin {
  transition: .3s;

  &:hover,
  &:hover {
    cursor: pointer;
    color: rgba(56, 54, 54, 0.845);
  }
}

.footer-logos {
  display: flex;
  justify-content: space-around;

  @media (max-width: 888px) {
    & {
      width: 100%;
    }
  }
}

ul {
  padding: 0;
  list-style-type: none;

  .svg_100x100 {
    padding: 20px 50px 20px 40px;
    width: 100px;
    height: 100px;
    opacity: 0.7;
    transition: 0.5s;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    @media (max-width: 888px) {
      & {
        padding: 20px 10px 20px 0;
      }
    }
  }

  .svg_80x80 {
    padding: 30px 0 30px 0;
    width: 80px;
    height: 80px;
    opacity: 0.7;
    transition: 0.5s;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}
