<div class="wrap-owner">
  <h1> Dzmitry Kaporski - beginner frontend developer </h1>

  <div class="absolute">
    <div class="hello">
      <div class="wrap-bubble-right">
        <div class="bubble-up-position bubble-background"><b>YO</b></div>
        <div class="bubble-down-position bubble-background"></div>
      </div>
      Hello everyone
      <div class="wrap-bubble-left">
        <div class="bubble-up-position bubble-background"><b>YO</b></div>
        <div class="bubble-down-position bubble-background"></div>
      </div>
    </div>
  </div>
</div>
