.photo-wrap {
  display: flex;
  justify-content: center;

  .photo {
    width: 140px;
    height: 150px;
    box-shadow: 0 10px 10px #d9d9e9;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    transition: 0.5s;

    &:hover {
      cursor: none;
      scale: 1.1;
    }
  }
}
