<main class="main">
  <article>
    <section class="education">
      <h2 class="title">
        <img class="education-icon" src="/assets/img/education.png" alt="">
        EDUCATION
      </h2>
      <ul class="courses-list">
        <li class="text">
          <div class="time">1999 - 2002</div>
          <span>
            <p><i>Mogilev State Polytechnic College</i></p>
          </span>
          <div class="time">2007 - 2011</div>
          <span class="link"><i>Moscow State University of Economics, Statistics and Informatics</i></span>
        </li>
      </ul>
    </section>
    <section class="courses">
      <h2 class="title">
        <img class="education-icon" src="/assets/img/curses.png" alt="">
        COURSES
      </h2>
      <app-timeline></app-timeline>
    </section>
    <section class="portfolio">
      <div>
        <h2 class="title"> WEB APPLICATIONS VIEW </h2>
      </div>
      <div class="subtitle">
        <i>Have an experience in building simple web applications. To
          watch code examples feel free to visit my:</i>
        <a href="https://github.com/DzmitryKaporski" aria-label="link to github">
          <span class="link-github"><i> GitHub</i></span>
        </a>
      </div>
      <ul *ngFor="let link of linksList" class="portfolio__list">
        <li>
          <a href={{link.href}} aria-label="link to project" target="_blank">
            <div class="inner-wrap">
              <span class="link-title">{{link.title}}</span>
              <img class="list-item" src={{link.src}} alt="img" />
            </div>
          </a>
        </li>
      </ul>
    </section>
    <section class="about">
      <h2 class="title"> ABOUT ME </h2>
      <div class="text">
        <p>
          <i>
            I feel a passion for the world of IT technologies and
            would like to connect my future with it activities to
            create values for the people in the IT.
            <br />
            Web page development on HTML5 markup language using
            cascading CSS stylesheets. Development of client-side
            scripting with JavaScript using frameworks React and
            Angular.
          </i>
        </p>
      </div>
    </section>
  </article>
</main>
